/* body {
    background-color: gray;
}

header {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    margin: auto;
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
}
.portrait {
    margin: 10px 10px;
    padding: 20px 0px;
    background-color: pink;
    margin: auto;
    width: 100%;
    max-height: 450px;
}
img {
    width: auto;
    max-width: 300px;
    height: auto;
    object-fit: cover;
}

#description {
    display: flex;
    align-items: center;

} */

.menu {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    float: left;
    background-color:black;
    height: 2vh;
    width: 100%;
}